POSTGRES_USER=orders_user
POSTGRES_PASSWORD=orders_pass
POSTGRES_DB=orders_db
DATABASE_URL=postgresql+asyncpg://orders_user:orders_pass@postgres:5432/orders_db

NOTIFICATION_DB_USER=notification_user
NOTIFICATION_DB_PASSWORD=notification_pass
NOTIFICATION_DB_NAME=notification_db
NOTIFICATION_DATABASE_URL=postgresql+asyncpg://notification_user:notification_pass@postgres-notifications:5432/notification_db

INVENTORY_DB_USER=inventory_user
INVENTORY_DB_PASSWORD=inventory_pass
INVENTORY_DB_NAME=inventory_db
INVENTORY_DATABASE_URL=postgresql+asyncpg://inventory_user:inventory_pass@postgres-inventory:5432/inventory_db

REDIS_URL=redis://redis:6379/0
REDIS_HOST=redis
REDIS_PORT=6379

WRITER_SERVICE_URL=http://writer-service:8001/internal/orders

WRITER_TIMEOUT_SECONDS=1.0
WRITER_MAX_RETRIES=1

RABBITMQ_HOST=rabbitmq
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin
RABBIT_URL=amqp://admin:admin@rabbitmq:5672/